.root {
    -fx-background-color: rgba(211, 217, 238, 0.68);
}
#Menu {
    -fx-font-size: 22;
    -fx-font-weight: 500;
}
#menuBar{
    -fx-background-color: rgb(252, 241, 192);
}

#button{
    -fx-font-size:15;
    -fx-background-radius: 6;
    -fx-background-color: #b8dad9;
    -fx-border-color: #111;
    -fx-border-radius: 6;
}

#Ausgabe {
    -fx-font-size: 20;
    -fx-background-radius: 6;
    -fx-background-color:  #B8DAD9;
    -fx-border-color: #111;
    -fx-border-radius: 6;
    -fx-padding: 5;
}

#rectangle{
    -fx-border-color: #111;
    -fx-background-color:#fcf1c0;
    -fx-border-color: #111;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.label{
    -fx-font-size: 19;
    -fx-font-weight: 600;
    -fx-font-style: italic;
}

#Titel{
    -fx-font-size: 25;
    -fx-font-weight: 800;
}
#dailyFields{
    -fx-font-size:16;
    -fx-background-radius: 5;
    -fx-background-color: rgba(184, 218, 217, 0.42);
    -fx-border-color: #111;
    -fx-border-radius: 5;}

#loginQuestion
{
    -fx-font-size: 15;
}