.default-color0.chart-bar {
    -fx-bar-fill: #ff6d6d;
}
.default-color1.chart-bar {
    -fx-bar-fill: #d9f8b0;
}
.default-color2.chart-bar {
    -fx-bar-fill: #b8a4ff;
}
.default-color3.chart-bar {
    -fx-bar-fill: #d9f8b0;
}